<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="standa.lensalert">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/APP_NAME"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:parentActivityName=".activities.MainActivity" />

        <receiver
            android:name=".receivers.NotificationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="standa.lensalert.receivers.ACTION_SEND_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.AlarmSetReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="standa.lensalert.receivers.ACTION_ALARM_SET" />
                <action android:name="standa.lensalert.receivers.ACTION_ALARM_DISABLE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.ProgressSaverService"
            android:exported="false" />

    </application>

</manifest>